.signing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: brightness(0.5);
	z-index: 1001;
	transition: .2s;
}

.container-drag {
	position: relative;
	z-index: 10;
}

.container-drag.border-blue-500 {
  z-index: 1002;
}

.close-button {
	right: -6px;
    top: -8px;
    height: 15px;
    line-height: 0px;
    padding: 3px;
    border-radius: 90%;
    width: 15px;
    background-color: red;
	color: white;
	cursor: pointer;
}

button.ant-btn-primary, .button-27 {
	display: flex;
	align-items: center;
    justify-content: center;
}

.ant-modal-confirm-btns {
	display: flex;
	justify-content: flex-end;
}

.chu-ky {
  cursor: pointer;
}
.chu-ky.active {
  background-color: var(--primary-1);
}

.react-resizable-handle {
  width: 12px !important;
  height: 12px !important;
  background: var(--primary-color);
  border-radius: 4px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.react-resizable-handle:hover {
  opacity: 1;
}

.topbar-control {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px -1px rgba(114, 114, 114, 0.1);
}

.signature-areas {
  display: inline-flex;
  margin-bottom: 0;
  gap: 5px;
  margin-left: 10px;
}